@font-face {
  font-family: "iconfont"; /* Project id 3694139 */
  src: url('iconfont.woff2?t=1665317852649') format('woff2'),
       url('iconfont.woff?t=1665317852649') format('woff'),
       url('iconfont.ttf?t=1665317852649') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.f-icon-time:before {
  content: "\e638";
}

.f-icon-search:before {
  content: "\e63c";
}

.f-icon-link:before {
  content: "\e63e";
}

.f-icon-share:before {
  content: "\e63f";
}

.f-icon-setting:before {
  content: "\e640";
}

.f-icon-test5:before {
  content: "\e641";
}

.f-icon-test6:before {
  content: "\e642";
}

.f-icon-test7:before {
  content: "\e643";
}

.f-icon-test8:before {
  content: "\e644";
}

.f-icon-test9:before {
  content: "\e645";
}

.f-icon-test10:before {
  content: "\e64f";
}

.f-icon-test11:before {
  content: "\e650";
}

.f-icon-test12:before {
  content: "\e651";
}

.f-icon-test13:before {
  content: "\e652";
}

.f-icon-test14:before {
  content: "\e653";
}

.f-icon-test15:before {
  content: "\e654";
}

.f-icon-test16:before {
  content: "\e655";
}

.f-icon-test17:before {
  content: "\e656";
}

.f-icon-test18:before {
  content: "\e657";
}

.f-icon-test19:before {
  content: "\e658";
}

.f-icon-test20:before {
  content: "\e659";
}

.f-icon-test21:before {
  content: "\e65a";
}

.f-icon-test22:before {
  content: "\e65b";
}

.f-icon-test23:before {
  content: "\e65c";
}

.f-icon-test24:before {
  content: "\e65d";
}

.f-icon-test25:before {
  content: "\e65e";
}

.f-icon-test26:before {
  content: "\e65f";
}

.f-icon-test27:before {
  content: "\e660";
}

.f-icon-arrow_up:before {
  content: "\e661";
}

.f-icon-arrow_left:before {
  content: "\e662";
}

.f-icon-arrow_down:before {
  content: "\e663";
}

.f-icon-arrow_right:before {
  content: "\e664";
}

.f-icon-test32:before {
  content: "\e665";
}

.f-icon-test33:before {
  content: "\e666";
}

.f-icon-test34:before {
  content: "\e667";
}

.f-icon-test35:before {
  content: "\e668";
}

.f-icon-test36:before {
  content: "\e669";
}

.f-icon-test37:before {
  content: "\e66a";
}

