@use '../mixins/mixin.scss' as *;
@use '../common/transition';
@use '../common/var.scss' as *;

$node-height: 30px;
$node-text-color: #575d6c;
$icon-size: 16px;
$highlight-color: #5e7ce0;

@include b(tree) {
  @include e(node) {
    position: relative;
    height: $node-height;
    color: $node-text-color;
    line-height: 1.5;
    white-space: nowrap;

    @include e(node-toggle) {
      // display: inline-block;
      // vertical-align: middle;
      user-select: none;
      font-size: $icon-size;
      height: 16px;
      width: 16px;
      line-height: 16px;
      cursor: pointer;
    }

    @include e(node-content) {
      display: inline-flex;
      align-items: center;

      &:not(.disabled) {
        cursor: pointer;
      }
    }

    .active {
      background-color: var(--devui-list-item-selected-bg, #f2f5fc);
      text-decoration: none;
      border-color: transparent;
    }

    @include e(node-title) {
      margin-left: 5px;
      display: inline-block;
      border: 1px dashed transparent;
      max-width: 100%;

      &:not(.disabled) {
        cursor: pointer;
      }
    }

    @include e(match-highlight) {
      font-weight: bold;
      color: $highlight-color;
    }
  }

  @include m(list) {

    &-enter-active,
    &-leave-active {
      transition: opacity 0.3s cubic-bezier(0.5, 0.05, 0.5, 0.95),
        height 0.3s cubic-bezier(0.5, 0.05, 0.5, 0.95);
    }

    &-enter-from,
    &-leave-to {
      opacity: 0;
      height: 0;
    }
  }
}